:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
body {
  background: wheat;
  font-family: var(--default-font-family);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--default-font-family);
}

/*       */
/*       */
/*      ABOUT PAGE        */
/*       */
/*       */

.name-about {
  font-size: 55px;
  font-weight: 700;
  font-family: var(--heading-font-family);
}
.message-about {
  font-size: 18px;
}

.minihero {
  background: #f9f7fe;
  border-radius: 20px;
  margin: 60px 140px;
  padding: 49px 120px 60px 120px;
}
.linkcontact-minihero {
  background: #6c63ff;
  color: aliceblue;
  text-decoration: none;
  font-family: var(--default-font-family);
  padding: 20px 30px;
  margin: 0px;
  width: 100%;
  border-radius: 10px;
}
.linkcontact-minihero:hover {
  color: #f5f2fe;
  text-decoration: none;
}
.linkcontact-minihero-container {
  margin-top: 30px;
  display: block;
  text-align: end;
}
.worktogether {
  margin-bottom: 30px;
}

.h3-mailtext {
  color: rgb(65, 65, 65);
  font-family: var(--heading-font-family);
  font-size: 28px;
  font-weight: bold;
}
.h3-mailtext:hover,
.h3-mail-link:hover {
  text-decoration: none;
  color: blueviolet;
  transition: all 150ms ease-in-out;
}
.icons-container {
  display: block;
  text-align: center;
  margin: 20px 40px 10px 40px;
  transition: all 150ms ease-in-out;
}
.icon {
  border-radius: 50%;
  background: rgba(108, 99, 255, 0.05);
  color: #6c63ff;
  margin: 0 30px;
  padding: 17px 25px;
  font-size: 28px;
}
.icon:hover {
  color: white;
  background: #6c63ff;
}

/*       */
/*       */
/*      PORTFOLIO PAGE        */
/*       */
/*       */

.hero2 {
  background: rgba(138, 43, 226, 0.1);
  margin: 50px 0px;
  padding: 120px 119px;
}

.project_img {
  border-radius: 20px;
  max-width: 600px;
  display: block;
  margin: 0 auto;
  text-align: center;
}
.built_with {
  color: gray;
}
.learnmore-btn {
  background: blueviolet;
  color: #f5f2fe;
  border: none;
  padding: 8px 15px;
  border-radius: 10px;
}
.titlespec {
  font-size: 60px;
  font-family: var(--heading-font-family);
}
.specializations {
  margin: 0px 80px;
}
.getintouch {
  text-align: center;
  display: block;
  margin: 50px auto;
  padding: 25px 50px;
  border: 2px solid blueviolet;
  border-radius: 20px;
  background: white;
  box-shadow: var(--box-shadow);
}
.getintouch:hover {
  color: white;
  background-color: blueviolet;
  transform: scale(1.03);
}

/*       */
/*       */
/* PART 1 - INTRO & LINKS*/
/*       */
/*       */

.name {
  font-size: 80px;
  text-align: center;
}
.hi {
  text-align: center;
}

.message {
  color: gray;
  text-align: center;
}

.firstparagraph-about {
  font-family: var(--default-font-family);
  color: rgba(39, 33, 66, 0.7);
  margin: 24px 10px 60px 10px;
}

.greenimg {
  max-width: 500px;
}
.primary-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.linkabout {
  border: 1px solid blueviolet;
  padding: 20px 30px;
  border-radius: 10px;
  color: black;
  text-decoration: none;
  margin: 20px;
}
.linkabout:hover {
  color: black;
  text-decoration: none;
  transform: scale(1.02);
}
.linkcontact {
  background: blueviolet;
  padding: 20px 30px;
  border-radius: 10px;
  color: aliceblue;
  text-decoration: none;
  margin: 20px;
  box-shadow: var(--box-shadow);
}
.linkcontact:hover {
  color: aliceblue;
  text-decoration: none;
  transform: scale(1.02);
}

/*       */
/*       */
/* --- PART 2 - BLOCK --- */
/*       */
/*       */

.hero {
  background: gainsboro;
  margin: 10px 0px 60px 0px;
  max-height: 750px;
}

.part2-hero {
  padding: 0px 0px 40px 0px;
}
.img1 {
  max-width: 500px;
  width: 100%;
  float: right;
  margin: 0px 60px 0px 0px;
}

.textblock-hero {
  font-size: 25px;
  padding: 200px 0px 0px 0px;
  max-width: 450px;
}
.color1 {
  background: blueviolet;
  padding: 15px 25px;
  border-radius: 4px;
  border: 1px solid gainsboro;
}
.color2 {
  background: gray;
  padding: 15px 25px;
  border-radius: 4px;
  border: 1px solid gainsboro;
}
.color3 {
  background: #bbb2a8;
  padding: 15px 25px;
  border-radius: 4px;
  border: 1px solid gainsboro;
}
.color4 {
  background: whitesmoke;
  padding: 15px 25px;
  border-radius: 4px;
  border: 1px solid gainsboro;
}
.colors:hover {
  transform: scale(1.01);
}

.container-2img {
  margin: 0 auto;
}
.container-2img .row {
  margin: 150px 20px;
  box-sizing: border-box;
}
img {
  width: 100%;
}

/*       */
/*       */
/* --- PART 3 - PROJECTS & SPECIALIZATIONS --- */
/*       */
/*       */

.getintouch {
  text-align: center;
  display: block;
  margin: 50px auto;
  padding: 25px 50px;
  border: 2px solid blueviolet;
  border-radius: 20px;
  background: white;
  box-shadow: var(--box-shadow);
}
.getintouch:hover {
  color: white;
  background-color: blueviolet;
  transform: scale(1.03);
}

.footer {
  background: #e0dbd5;
  color: rgb(63, 63, 63);
  margin: 0 auto;
  padding: 20px 0px 0px 0px;
}
.footerlinks {
  padding: 70px;
}
.footerlink {
  color: rgb(63, 63, 63);
  font-weight: bold;
  margin: 0px 10px;
}
.footerlink:hover {
  text-decoration: none;
  color: black;
}
.brand-link {
  color: rgb(63, 63, 63);
}
.brand-link:hover {
  text-decoration: none;
  color: blue;
}
.footer p {
  text-align: center;
  margin: 0 auto;
  color: rgb(63, 63, 63);
  padding: 80px 0px 20px 0px;
  font-size: 15px;
}

/*       */
/*       */
/* -------------- EXTERNAL OVERLAY CODE ---------- */
/*       */
/*       */

.boxx {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: blueviolet;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: 0.5s ease;
}

.boxx:hover .overlay {
  width: 100%;
}

.text {
  white-space: nowrap;
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/*       */
/*       */
/*       */
/*       */
/*       */
/* ---------------------------------- */
/* ----------- RESPONSIVE ------------- */
/*       */
/*       */
/*       */
/*       */

@media (max-width: 1060px) {
  /* ------- RESPONSIVE about page ------- */
  .about-container1 {
    margin-top: 0px;
  }
  .name-about,
  .message-about {
    margin: 10px;
  }
  .firstparagraph-about {
    margin-bottom: 20px;
  }
  .linkcontact {
    text-align: end;
    margin-bottom: 80px;
  }
  .greenimg {
    margin-top: 40px;
  }
  .minihero {
    padding: 20px;
    margin: 20px 10px;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
  }
  .linkcontact-minihero {
    display: none;
  }
  .footer p {
    padding-top: 30px;
    text-align: center;
  }
}
@media (max-width: 600px) {
  /* ------- RESPONSIVE homepage ------- */
  .hi {
    font-size: 40px;
  }
  .name {
    font-size: 60px;
  }
  .message {
    font-size: 20px;
  }

  .hero {
    padding: 50px 10px 110px 10px;
  }
  .row {
    display: block;
    margin: 50px auto;
  }
  .img-cover {
    display: none;
  }
  .textblock-hero {
    padding: 100px 0px 10px 0px;
  }
  .colors {
    text-align: center;
  }

  img {
    display: block;
    text-align: center;
    margin: 0 auto;
    max-width: 100px;
    box-sizing: border-box;
    object-fit: contain;
    width: 100%;
  }

  /* ------- RESPONSIVE portfolio page ------- */

  .hero2 {
    padding: 20px;
    text-align: center;
  }
  .hero2 p {
    font-size: 20px;
  }

  .project_img {
    margin: 15px auto;
  }
  .built_with {
    display: none;
  }

  .specializations-title {
    font-size: 40px;
  }
  .specialization-container {
    margin: 0 40px;
    text-align: center;
  }
  .specialization-container h2 {
    font-size: 25px;
  }
  .specialization-container p {
    font-size: 15px;
  }
}
